@use '../../styles/utils/mixins.scss' as m;
.Services{
    background:#F4F8FB ;
   
    &__contentall {
        width: 85%;
        margin: 0 auto;
        padding: 5rem 0;
        gap: 4rem;
      
    }
    &__grid{
        width: 100%;
        display: grid;
       
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-template-rows: auto;
   gap: 3rem;
        place-items: center;



    }
}
.Services-Card{
    display: block;
    width: 25.2rem;
    background: rgb(255, 255, 255);
    text-align: center;
    transition: transform .3s;
    cursor: pointer;
    display: grid;
    grid-template-rows:subgrid;
    grid-row: span 3;
    gap: 0;
    gap: 0.4rem;
    padding: 1rem;
    text-decoration: none;
    color: #13124A;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.177);
    opacity: 1;
    @starting-style {
        opacity: 0;
        
      }
   @include m.tablet {
       width: 31.2rem;
   }
   @include m.desktop-small {
       width: 36rem;
   }
  
    &__img{
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
      
     
        
       
    }
    &:hover{
        transform: scale(1.02);
    }
   
    &__title{
    
        line-height: 1.2;
      
        
    }
    &__paragraph{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
}

// &__card-title{
//    
// }
// }







// .card1{
//     grid-area: card1;
// }
// .card2{
//     grid-area: card2;
// }
// .card3{
//     grid-area: card3;
// }