@use '../styles/utils/mixins.scss' as m;
.bolsa-trabajo-section{
    padding: 5rem 0;
    display: grid;
   
    &__contentall{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @include m.desktop-small {
            flex-direction: row;
            align-items: center;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        @include m.desktop-small {
            max-width: 42rem;
        }
    }
    &__content{
        
        @include m.tablet {
            display: flex;
            gap: 2rem;
           
        }
    }
    &__form{
        @include m.desktop-small {
            width: 70%;
        }
        
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 2.2rem;
        color: #13124A;
        @include m.tablet {
            width: 60%;
            margin: 0 auto;  
        }
    }
    &__socials{
       
        padding: 0 1.5rem;
        h2{
            text-align: center;
            
            @include m.desktop-small {
                text-align: left;
            }
        }
        
        ul{   
            padding: 1rem;
            background: #FF3E33;
            border-radius: .6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            @include m.tablet {          
                max-width: 30rem;
                margin: 0 auto;
            }
            @include m.desktop-small {
                margin: unset;
                margin-right: auto;
            }
          
        }
        img{
            display: block;
            width: 4rem;
            
            @include m.tablet {
                width: 4.5rem;
            }
        }
    }
}

