@use "../../styles/utils/mixins.scss" as m;


.course-cardinfo{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
   gap: 2rem;
   padding: 2.5rem 2rem; 
   text-align: center;
   @include m.tablet {
    display: flex;
    justify-content: space-around;
   }
   
   @include m.desktop-small {
       max-width: 120rem;
       margin: 0 auto;
       justify-content: space-between;
       align-items: center;
   }
}