@use "../base/variables" as v;

/* Mixin para teléfonos pequeños */
@mixin phone-x1 {
  @media (min-width: v.$phone-x1) {
    @content;
  }
}

/* Mixin para teléfonos estándar */
@mixin phone-x2 {
  @media (min-width: v.$phone-x2) {
    @content;
  }
}

/* Mixin para teléfonos medianos */
@mixin phone-medium {
  @media (min-width: v.$phone-medium) {
    @content;
  }
}

/* Mixin para teléfonos grandes */
@mixin phone-large {
  @media (min-width: v.$phone-large) {
    @content;
  }
}

/* Mixin para tablets pequeñas */
@mixin tablet-small {
  @media (min-width: v.$tablet-small) {
    @content;
  }
}

/* Mixin para tablets estándar */
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

/* Mixin para tablets grandes */
@mixin tablet-large {
  @media (min-width: v.$tablet-large) {
    @content;
  }
}

/* Mixin para desktops pequeños */
@mixin desktop-small {
  @media (min-width: v.$desktop-small) {
    @content;
  }
}

/* Mixin para desktops medianos */
@mixin desktop-medium {
  @media (min-width: v.$desktop-medium) {
    @content;
  }
}

/* Mixin para desktops grandes */
@mixin desktop-full {
  @media (min-width: v.$desktop-full) {
    @content;
  }
}

/* Mixin para desktops ultra HD */
@mixin desktop-ultra-hd {
  @media (min-width: v.$desktop-ultra-hd) {
    @content;
  }
}


$breakpoints: (
  phone-x1: v.$phone-x1,
  phone-x2: v.$phone-x2,
  phone-medium: v.$phone-medium,
  phone-large: v.$phone-large,
  tablet-small: v.$tablet-small,
  tablet: v.$tablet,
  tablet-large: v.$tablet-large,
  desktop-small: v.$desktop-small,
  desktop-medium: v.$desktop-medium,
  desktop-full: v.$desktop-full,
  desktop-ultra-hd: v.$desktop-ultra-hd
);
@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' no está definido en $breakpoints.";
  }
}