.buttonred{
    display: block;
    border: none;
   background: #FF3E33;
   width: 27rem;
   height: 4.5rem;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   border-radius: 0.5rem;
   cursor: pointer;
   &:hover{
    opacity: .95;
   }
}