@use '../../styles/utils/mixins.scss' as m;
.navbar {
  background: red;

    &.active {
      background-color: #13124a;
      box-shadow: 0 1px 1px rgba(5, 9, 5, 0.644);
      
    }
  
    &__list {
      padding-bottom: 0;
      padding-top: 0;
      overflow: hidden;
    
      &.active {
        padding: 6rem 5rem;
        overflow: scroll;
        top: 0;
        padding-bottom: 2rem;
        overflow-y: scroll;
        @include m.tablet {
            padding: 9rem 5rem 5rem;
        }
      
      }
     
    }
    &__item{
      opacity: 0;
      @include m.desktop-small {
          opacity: 1;
      }

    }
    &__logo{
      padding: 0.6rem;
    }
  }
  //   .navbar__list.active  > .navbar__item{
  //   background: red!important;
  // }