@use '../../styles/utils/mixins.scss' as m;
.navbar {
    &.active {
      background-color: #13124a;
      box-shadow: 0 1px 1px rgba(5, 9, 5, 0.644);
    }
  
    &__list {
      &.active {
      
        top: 0;
        padding-bottom: 2rem;
        overflow-y: scroll;
     
      
      }
     
    }
    &__item{
      opacity: 0;
      @include m.desktop-small {
          opacity: 1;
      }

    }
  }
  //   .navbar__list.active  > .navbar__item{
  //   background: red!important;
  // }