@use '../../styles/utils/mixins.scss' as m;
.footer{
    color: white;
    background: #13124A;
   
    figure{
      
    }
    &__logo{
        
        padding: 4rem 0;
        img{
            @include m.tablet {
                width: 18rem;
            }
            @include m.desktop-small {
                width: 20rem;
            }
          
        }
    }  
    &__icons{
        display: flex;
        justify-content: space-between;
        
    }
    &__content-Whatssap{
        display: flex;
        align-items: center;
        p{
            background: white;color: black;
            margin-right: 1rem;
            padding: 0.5rem 1.4rem;
            border-radius: 1rem;
           
            display: none;
            @include m.desktop-small {
                display: block;
            }
        }
    }
    &__icon-whatssap{
        width: 5.5rem;
        cursor: pointer;
        transition: transform .3s;
        display: none;
        @include m.tablet {
            
            display: block;
        }
        &:hover{
            transform: scale(1.02);
        }
        @include m.desktop-small {
         
        }
       
    }
    &__list-content{
        display: flex; 
        align-items: flex-start;
        gap: 2.5rem;
       
     }
     &__subtitle{
        font-size: 1.4rem;
        font-weight: 500;
        @include m.tablet {
            font-size: 1.8rem!important;
        }
        
        @include m.desktop-small {
            font-size: 2rem!important;
            font-weight: 500;
           
        }
     
     }
    &__grid{
        width: 100%;
        
       @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Define 3 columnas de igual tamaño */
        grid-template-rows: auto auto;        /* Define 2 filas de tamaño automático */
        grid-template-areas: 
          "list list"
          "navigation1 navigation2"
          "socials socials";
       }
       @include m.desktop-small {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Define 3 columnas de igual tamaño */
       
        grid-template-areas: 
          "list navigation1 navigation2"
          "socials2 socials2 socials";;
        // place-items: center;
       }
       img{
        width: 2rem;
        
        @include m.tablet {
            width: 4rem;
        }
        
        @include m.tablet-large {
            transform: scale(1.5);
        }
       }
    }
     &__list-info{
        display: flex;
        flex-direction: column;
        gap: 3rem;
      
        @include m.tablet {
            grid-area: list;
            padding-bottom: 2.5rem;
        }
        @include m.desktop-small {
            padding-bottom: 0;
            width: 38rem;
        }
        img{
            @include m.desktop-small {
                
                width: 2.5rem;
            }
        }
     }
  
     &__navigation{
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        padding-top: 2.5rem;
        @include m.tablet {
            padding: 0;
            grid-area: navigation1;
        }
        @include m.desktop-small {
            justify-self: center;
            align-self: start;
            // padding-left: 10rem;
        }
        h3{
            font-size: 1.4rem;
            font-weight: 400;
            color: #FF3E33;
        }
    
     }  
     &__navigation-2{
        @include m.tablet {
            grid-area: navigation2;
        }
     }   
     &__navigation-list{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        li{
            transition: .3s all;
            color: white;
            transition: text-decoration-thickness 0.3s ease, text-decoration-color 0.3s ease;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 2px;
       

            }
        }
        a{
            color: white;
            
        }
       
     }
     &__navigation-list-url{
        text-decoration: none;
        color: white;
     }
     &__social-media{
        grid-area: socials;
        align-self: center;
        align-items: center;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 4rem;
        @include m.desktop-small {
            gap: 2rem;
          padding: 0;
          margin-top: -2rem;
          padding-bottom: 5rem;
          justify-content: center;
          align-items: center;
            
        }
      
        ul{
           
            display: flex;
            gap: 1.5rem;
            
            @include m.tablet {
                gap: 2rem;
            }
            
            @include m.desktop-small {
                gap: 2.5rem;
            }
            li{
                cursor: pointer;
                transition: transform .4s;
                &:hover{
                    transform: scale(1.04);
                }
            }
        }
        span{
            color: #FF3E33;
        }
        img{
            display: block;
            width: 2.8rem;
            
            @include m.tablet {
                width: 3rem;
            }

            
          
        }
     }
     &__social-media--a{
        display: block;
        width: 3rem;
     }
     &__copy{
        text-align: center;
        padding-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
     }
     &__copy-span{
        font-weight: 300!important;
       
     }
}
