@use '../utils/mixins.scss'as m;
:root{
  --bakcground-footer:#40403F;
  --font-primary:"DM Sans", sans-serif;
  --color-primary-text:#13124A;
  --background-primary:#13124A;
  --color-title-secondary:#FF3E33;
  --font-size-primary-mobile: 2.6rem;
  --font-size-primary-tablet: 3.2rem;
  --font-size-primary-desktop: 3.6rem;
  --font-size-secondary-mobile: 2.3rem;
  --font-size-secondary-tablet: 2.8rem;
  --font-size-secondary-desktop:3.2rem;
  --font-size-paragraph-mobile: 1.5rem;
  --font-size-paragraph-tablet: 1.8rem;
  --font-size-paragraph-desktop: 2rem;
  --color-bg-buttons: #FF3E33;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    text-decoration: none;
    scrollbar-width: none;
    font-family: var(--font-primary);
  }
  li{
    list-style: none;
  }

  [class*="__contentall"] {
    display: block;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    @include m.desktop-ultra-hd {
      max-width: 140rem;
    }
  }
  body {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
     min-height: 100vh;
     overflow-x: hidden;
     position: relative;
  }

  a{
   font-family: var(--font-primary); 
  }
  input{
    font-family: var(--font-primary);
  }